.tile {
  display: block;
  position: relative;
}

.tile .chess-piece {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: #779556;
}

.white-tile {
  background-color: #ebecd0;
}

.tile img {
  width: 80px;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: 24%;
  height: 24%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 38%;
  left: 38%;
}

.tile-highlight-move {
  border: double black 5px;
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: " ";
  width: 50%;
  height: 50%;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.tile-highlight-move.chess-piece-tile {
  border-color: rgb(243, 37, 37)
}

.tile-highlight-blast::after {
  content: '💥';
  position: absolute;
  right: 0;
  top: 0;
}