.controls {
    position: relative;
}

.controls-out {
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    border: solid 10px black;
    background-color: black;
}

.controls-out>.main {
    display: flex;
    background-color: black;
}

.controls-out>.expanded {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.thr {
    border: solid 0.5px;
    width: 50%;
}

.header {
    position: relative;
    color: white;
    font-family: monospace;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 .5em;
}

.centered-text-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    justify-content: center;

}

.centered-text {
    background: black;
    color: white;
    padding: 0 5px;
    z-index: 2;
    font-size: 80%;
}

.centered-text-container::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #ccc;
    display: flex;
    justify-content: center;
}

.board-container {
    position: relative;
    display: block
}

button.square {
    width: 2.5em;
    aspect-ratio: 1;
}

.pawn-promoter {
    border-radius: 20vmin;
}